<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    영화어때 가입을 완료하려면 <a href="#" th:href ="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>
<section class="jumbotron text-center">
    <div class="container">
        <p class="lead text-muted">
            잘못된 요청입니다.</br>
        </p>
        <img src="images/popcorn.png" />
        <p>
            <a th:href="@{/sign-up}" class="btn btn-primary my-2">회원가입 페이지 이동</a>
        </p>
    </div>
</section>
<div class="container">
    <div class="py-5 text-center pt-3">
        <div th:replace="fragments.html :: movie-list (movieList=${movieList})"></div>
    </div>
</div>

<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>